<div class="content-title {% if class is defined %}{{ class }}{% endif %}">
    {% if breadcrumbs is defined %}
        <ol class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                {% if breadcrumb.link is defined %}
                    <li class="breadcrumb-item"><a href="{{ breadcrumb.link }}">{{ breadcrumb.title }}</a></li>
                {% else %}
                    <li class="breadcrumb-item active">{{ breadcrumb.title }}</li>
                {% endif %}
            {% endfor  %}
        </ol>
    {% endif %}

    {% if title is defined %}
        <h2>
            {{ title }}

            {% if subtitle is defined %}
                <small>{{ subtitle }}</small>
            {% endif %}
        </h2>
    {% endif %}

    {% if description is defined %}
        <p>{{ description }}</p>
    {% endif %}

    {% if actions is defined %}
        <div class="content-title-actions">
            {% for action in actions %}
                <a href="{{ action.link }}" class="btn btn-secondary">
                    {{ action.title }}
                </a>
            {% endfor %}
        </div><!-- /.content-title-actions -->
    {% endif %}        
</div><!-- /.content-title -->